@model CiPlatformWeb.Entities.DataModels.User
@{
    ViewData["Title"] = "Forgot Password";
}

<form method="post">
    <h4>Forgot Password</h4>
    <h6>
        Enter your email address you've using for your
        account below and
        we
        will send you a
        password reset link
    </h6>
    <div class="e-add mt-5 mb-4">
        <label asp-for="Email" class="form-label">Email Address</label>
        <input asp-for="Email" type="email" placeholder="Enter your email address..."
               class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit">Reset my Password</button>
</form>

<div class="login mt-4">
    <a asp-controller="Home" asp-action="Index">Login</a>
</div>

<div class="policy mt-xl-5">
    <a href="">Privacy Policy</a>
</div>

