@{
    ViewData["Title"] = "Forgot Password";
}

<form asp-controller="Home" asp-action="ResetPassword" class="">
    <h4>Forgot Password</h4>
    <h6>
        Enter your email address you've using for your
        account below and
        we
        will send you a
        password reset link
    </h6>
    <div class="e-add mt-5 mb-4">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" id="email-address" placeholder="Enter your email address..."
               class="form-control">
    </div>

    <button>Reset my Password</button>
</form>

<div class="login mt-4">
    <a asp-controller="Home" asp-action="Index">Login</a>
</div>

<div class="policy mt-xl-5">
    <a href="">Privacy Policy</a>
</div>

