@{
    ViewData["Title"] = "Login";
}

<form action="" class="">
    <div class="e-add">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" id="email-address" placeholder="Enter your email address..."
               class="form-control">
    </div>
    <div class="pwd mt-4 mb-4">
        <label for="pswd" class="form-label">Password</label>
        <input type="password" id="password" placeholder="Enter your password..."
               class="form-control">
    </div>

    <button>Login</button>
</form>

<div class="lost-pwd mt-3">
    <a asp-controller="Home" asp-action="ForgotPassword">Lost your password?</a>
</div>

<div class="no-acc mt-4">
    Don’t have an account?
    <a href="./registration.html">Create an account</a>
</div>

<div class="policy mt-xl-5">
    <a href="">Privacy Policy</a>
</div>
