@model CiPlatformWeb.Entities.ViewModels.LoginValidation

@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div class="e-add">
        <label asp-for="Email" class="form-label">Email Address</label>
        <input asp-for="Email" type="email" placeholder="Enter your email address..."
               class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="pwd mt-4 mb-4">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" placeholder="Enter your password..."
               class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button>Login</button>
</form>

<div class="lost-pwd mt-3">
    <a asp-controller="Home" asp-action="ForgotPassword">Lost your password?</a>
</div>

<div class="no-acc mt-4">
    Don’t have an account?
    <a asp-controller="Home" asp-action="Registration">Create an account</a>
</div>

<div class="policy mt-xl-5">
    <a asp-controller="User" asp-action="PrivacyPolicy">Privacy Policy</a>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}