@model CiPlatformWeb.Entities.ViewModels.RegistrationValidation

@{
    ViewData["Title"] = "Registration";
}

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" placeholder="Enter your first name..."
               class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" placeholder="Enter your last name..."
               class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" placeholder="Enter your phone number..."
               class="form-control">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Email" class="form-label">Email Address</label>
        <input asp-for="Email" type="email" placeholder="Enter your email address..."
               class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" id="password" placeholder="Enter your password..."
               class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mt-3 mb-4">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" placeholder="Enter your password again..."
               class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        @*<span id="cnf-msg" class="text-danger"></span>*@
    </div>

    <button type="submit" class="mt-4" id="reg-btn">Register</button>
</form>

<div class="lost-pwd mt-3">
    <a asp-controller="Home" asp-action="ForgotPassword">Lost your password?</a>
</div>

<div class="login mt-3">
    Already registered?
    <a asp-controller="Home" asp-action="Index">Login now</a>
</div>

<div class="policy mt-xl-0.5">
    <a href="">Privacy Policy</a>
</div>