@{
    ViewData["Title"] = "Registration";
}

<form action="" class="">
    <div class="f-name">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" id="fname" placeholder="Enter your first name..."
               class="form-control">
    </div>
    <div class="l-name mt-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" id="lname" placeholder="Enter your last name..."
               class="form-control">
    </div>
    <div class="num mt-3">
        <label for="num" class="form-label">Phone Number</label>
        <input type="text" id="phn" placeholder="Enter your phone number..."
               class="form-control">
    </div>
    <div class="e-add mt-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" id="email-address" placeholder="Enter your email address..."
               class="form-control">
    </div>
    <div class="pwd mt-3">
        <label for="pswd" class="form-label">Password</label>
        <input type="password" id="password" placeholder="Enter your password..."
               class="form-control">
    </div>
    <div class="cnf-pwd mt-3 mb-4">
        <label for="cnf-pwd" class="form-label">Confirm Password</label>
        <input type="password" id="cnf-password" placeholder="Enter your password again..."
               class="form-control">
    </div>

    <button>Register</button>
</form>

<div class="lost-pwd mt-3">
    <a asp-controller="Home" asp-action="ForgotPassword">Lost your password?</a>
</div>

<div class="login mt-3">
    Already registered?
    <a asp-controller="Home" asp-action="Index">Login now</a>
</div>

<div class="policy mt-xl-0.5">
    <a href="">Privacy Policy</a>
</div>