@model CiPlatformWeb.Entities.ViewModels.ResetPasswordValidation
@{
    ViewData["Title"] = "Reset Password";
}

<form method="post">
    <h3>New Password</h3>
    <h6>Please enter a new password in the fields below.</h6>

    <input asp-for="Email" type="hidden" />
    <input asp-for="Token" type="hidden" />

    <div class="pwd mt-4">
        <label asp-for="Password" class="form-label">New Password</label>
        <input asp-for="Password" type="password" id="password" placeholder="Enter your new password..."
               class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="cnf-pwd mt-4 mb-4">
        <label class="form-label">Confirm New Password</label>
        <input type="password" name="ConfirmPassword" placeholder="Enter your new password again..."
               class="form-control">
        <span id="cnf-msg" class="text-danger"></span>
    </div>

    <button type="submit">Change Password</button>
</form>

<div class="login mt-4">
    <a asp-controller="Home" asp-action="Index">Login</a>
</div>

<div class="policy mt-xl-5">
    <a href="">Privacy Policy</a>
</div>

