@{
    ViewData["Title"] = "Reset Password";
}

<form action="" class="">
    <h3>New Password</h3>
    <h6>Please enter a new password in the fields below.</h6>

    <div class="pwd mt-4">
        <label for="pswd" class="form-label">New Password</label>
        <input type="password" id="password" placeholder="Enter your new password..."
               class="form-control">
    </div>
    <div class="cnf-pwd mt-4 mb-4">
        <label for="cnf-pwd" class="form-label">Confirm New Password</label>
        <input type="password" id="cnf-password" placeholder="Enter your new password again..."
               class="form-control">
    </div>

    <button>Change Password</button>
</form>

<div class="login mt-4">
    <a asp-controller="Home" asp-action="Index">Login</a>
</div>

<div class="policy mt-xl-5">
    <a href="">Privacy Policy</a>
</div>
