@model CiPlatformWeb.Entities.DataModels.Mission

@{
    string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CiPlatformWeb</title>
    <link rel="stylesheet" href="~/css/mission.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CiPlatformWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <!-- HEADER -->
    <header class="sticky-top bg-white">
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container">
                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#headerContent" aria-controls="headerContent" aria-expanded="false"
                            aria-label="Toggle navigation" style="border:none">
                        <span><img src="~/images/list.png"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Mission" asp-action="Index">
                        <img src="~/images/logo.png" alt="">
                    </a>
                </div>

                <div class="offcanvas offcanvas-start" id="headerContent">
                    <div class="offcanvas-header flex-row-reverse">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 offcanvas-body">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Explore
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                <li><a class="dropdown-item" href="#">Sponsored</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Story" asp-action="StoryListing" class="nav-link" aria-current="page">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                <li><a class="dropdown-item" href="#">Sponsored</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="d-flex">
                    <div class="dropdown">
                        <a class="nav-link" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span>
                                <img src="~/images/bell.png" alt="" class="m-2">
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="notificationDropdown">
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><a class="dropdown-item" href="#">My Account</a></li>
                            <li><a class="dropdown-item" href="#">Help Center</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span>
                                <img src="~/images/user-img.png" alt="" class="rounded-circle me-2"
                                     width="40" height="40">
                            </span>
                            <p class="d-inline" id="profileText">
                                @UserName
                            </p>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><a class="dropdown-item" href="#">My Account</a></li>
                            <li><a class="dropdown-item" href="#">Help Center</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <partial name="NotificationPartial" />
        @RenderBody()
    </main>

    <!-- FOOTER -->
    <footer class="bg-white border-top">
        <div class="container pt-3 pb-5">
            <div class="row d-flex">
                <div class="col-lg-6 links">
                    <div class="row pt-3">
                        <div class="col">
                            <a href="" class="p-2 text-decoration-none" style="color: #212529;">Privacy Policy</a>
                        </div>
                        <div class="col">
                            <a href="" class="p-2 text-decoration-none" style="color: #212529;">Cookie Policy</a>
                        </div>
                        <div class="col">
                            <a href="" class="p-2 text-decoration-none" style="color: #212529;">Terms of Use</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 copyright pt-3">
                    <span>&copy; 2019 Optimy.com. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/Filters.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
