<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="https://kit.fontawesome.com/0ae5aef6fc.js" crossorigin="anonymous"></script>

  

</head>
<body>
    <div class="d-flex">
        <div class="vertical-nav-admin">
            <ul class="d-none d-md-block">
                <p class="navigation text-light mb-3 d-lg-block d-none">NAVIGATION</p>
                <li class="pb-3">
                    <a class="admin-nav-active d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminUser">
                        <i class="fa-solid fa-user px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">User</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminCms">
                        <i class="fa-solid fa-file-lines px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">CMS Page</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminMission">
                        <i class="fa-solid fa-regular fa-bullseye px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Mission</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminTheme">
                        <i class="fa-sharp fa-solid fa-square px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Mission Theme</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminSkill">
                        <i class="fa-solid fa-screwdriver-wrench px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Mission Skills</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminApplication">
                        <i class="fa-solid fa-folder px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Mission Application</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminStory">
                        <i class="fa-solid fa-book px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Story</span>
                    </a>
                </li>
                <li class="pb-3">
                    <a class=" d-flex align-items-center py-lg-2 ps-lg-1 pe-lg-5 p-0" asp-controller="Admin" asp-action="AdminUser">
                        <i class="fa-solid fa-ribbon px-lg-3 py-lg-0 p-2"></i>
                        <span class="d-lg-block d-none pe-lg-3 ps-lg-0 py-lg-0 pe-2">Banner Management</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main-content container-fluid">
            <div class="admin-header d-flex justify-content-between">

                <div>
                    <span class="today-date align-self-center">@DateTime.Now.ToString("dddd, MMMM d, yyyy, h:mm tt")</span>
                </div>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/Upload/UserProfile/no-avatar.jpg" style="height: 40px !important; width: 40px !important" class="rounded-circle me-2" />
                        <p class="d-inline" id="profileText">
                            Evan Donohue
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li>
                            <a class="dropdown-item" asp-controller="User" asp-action="UserProfile">My Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="User" asp-action="VolunteeringTimesheet">Volunteering Timesheet</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    

    <!-- validate partial view form -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/tinymce@5/tinymce.min.js"></script>
  

    <script src="~/js/admin.js" asp-append-version="true"></script>

    <!-- for validations -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
