
@{
    ViewData["Title"] = "Cms";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@using CiPlatformWeb.Entities.ViewModels
@model SessionUserViewModel

<div class="container">
    <div class="tabs d-flex flex-column" style="font-size: 15px;">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active disabled" aria-current="page" href="#" style="font-size: 22px;">
                    @Model.selectedCmsPage.Title
                </a>
            </li>
        </ul>


        <div class="row mt-4">
            <p style="font: 17px;">
                @Html.Raw(Model.selectedCmsPage.Description)
            </p>
        </div>
    </div>
</div>