@using CiPlatformWeb.Entities.ViewModels
@model SessionUserViewModel

<div class="container">
    <div class="tabs d-flex flex-column" style="font-size: 15px;">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active disabled" aria-current="page" href="#" style="font-size: 22px;">
                    Model.cmsPages.title
                </a>
            </li>
        </ul>


        <div class="row mt-4">
            <p style="font: 17px;">
                While it’s the one of the most important things of the 21st century, the internet is largely (and
                wrongly) considered a young person’s tool. It can be very difficult to encourage the older
                generations
                to learn basic computer skills and even harder to teach them to become IT technicians through IT
                courses. This mindset has resulted in many brands and developers largely ignoring older potential
                customers because they believe they lack digital literacy. While mobility can be an issue in the
                real
                world, it’s almost non-existent on the web once you've learnt the internet basics. After you take a
                few
                computer classes and learn how to use a mouse and keyboard, you'll find that staying in contact with
                family members has never been so easy. You can even order your groceries online and have them all
                delivered to your home with just a few clicks of the mouse. Let’s not forget that there are also
                apps to
                keep your brain active.
            </p>
        </div>
    </div>
</div>