@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@{
    string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
    var Id = Convert.ToInt64(ViewBag.UserId);
}

@model CiPlatformWeb.Entities.ViewModels.ShareStoryViewModel

<link rel="stylesheet" href="~/css/story.css" asp-append-version="true" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>



<div class="container my-5">
    <h1>Share your story</h1>
    <div class="form" id="story">

        <div class="row mt-2 gy-4">
            <div class="col-md">
                <label asp-for="MissionId" class="form-label">Select Mission</label>
                <select asp-for="MissionId" class="form-select" aria-label="Default select example" id="missionId">
                    <option selected disabled>Select your mission</option>
                    @foreach(var m in Model.MissionTitles)
                    {
                        <option value="@m.MissionId">@m.Title</option>
                    }
                </select>
                <span asp-validation-for="MissionId" class="text-danger"></span>
            </div>
            <div class="col-md">
                <label asp-for="StoryTitle" class="form-label">My Story Title</label>
                <input asp-for="StoryTitle" type="text" id="storyTitle" class="form-control" placeholder="Enter story title">
                <span asp-validation-for="StoryTitle" class="text-danger"></span>
            </div>
            <div class="col-md">
                <label class="form-label">Date</label>
                <input asp-for="Date" type="date" id="date" class="form-control" placeholder="Select date">
            </div>
        </div>
        <span id="storyId"></span>


        <div class="form-group mt-4">
            <label for="exampleFormControlTextarea1" class="form-label my-0">My Story</label>
            <textarea asp-for="StoryDescription" class="form-control" id="editor" rows="3"></textarea>
            <span asp-validation-for="StoryDescription" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <label asp-for="VideoUrl" class="form-label">Enter Video URL</label>
            <textarea asp-for="VideoUrl" class="form-control" id="videoUrls" placeholder="Enter your url(Youtube links only)" rows="3"></textarea>
        </div>

        <div class="mt-4">
            <div class="upload">
                <label class="form-label">Upload your Photos</label>
                <div id="dropzone" class="dropzone">
                    <input type="file" class="d-none" accept=".jpg,.png, .jpeg" multiple id="file-input" />
                    <label class="drag-drop mb-4" for="file-input" id="file-button">
                        <img src="~/images/drag-and-drop.png" />
                    </label>
                </div>
                <div id="image-list" class="d-flex">
                    <!-- Selected images will be displayed here -->
                </div>
            </div>
        </div>

        <div class="d-flex mt-4 btns">
            <div class="btn-cancel-margin p-2">
                <a href='javascript:history.go(-1)' class="btn-cancel rounded-pill px-4 py-2 text-decoration-none">Cancel</a>
            </div>
            <div class="btns1 d-flex">
                <div class="p-2">
                    <button class="btn-save rounded-pill px-4 py-2">Preview</button>
                </div>
                <div class="p-2">
                    <button class="btn-save rounded-pill px-4 py-2" id="saveStory">Save</button>
                </div>
                <div class="p-2">
                    <button class="btn-save rounded-pill px-4 py-2">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/story.js" asp-append-version="true"></script>
