@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

<link rel="stylesheet" href="~/css/story.css" asp-append-version="true" />

@model CiPlatformWeb.Entities.ViewModels.StoryListingViewModel

<partial name="FilterBarPartial" />


<!-- PICTURE -->
<div class="img-header position-relative">
    <!-- BG IMAGE -->
    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <!-- TEXT -->
        <div class="text text-white mb-3">
           <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cupiditate excepturi non
                tempora odio. Earum at nulla quibusdam qui sequi. Lorem ipsum dolor sit amet consectetur.
           </span>
        </div>
        <!-- BUTTON -->
        <div>
            <button class="btn-share-story rounded-pill px-4 py-2">
                Share your story &nbsp;
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>


<!-- STORIES -->
@*<div class="container my-5 pb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">*@
        <div class="storyPartial">


        </div>
 @*   </div>
</div>
*@