@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
    //var totalRecords = ViewBag.totalRecords;
}

<link rel="stylesheet" href="~/css/story.css" asp-append-version="true" />

@model CiPlatformWeb.Entities.ViewModels.StoryListingViewModel

<partial name="FilterBarPartial" />


<!-- PICTURE -->
<div class="img-header position-relative">
    <!-- BG IMAGE -->
    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <!-- TEXT -->
        <div class="text text-white mb-3">
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cupiditate excepturi non
                tempora odio. Earum at nulla quibusdam qui sequi. Lorem ipsum dolor sit amet consectetur.
            </span>
        </div>
        <!-- BUTTON -->
        <div>
            <a class="btn-share-story rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("ShareStory", "Story")">
                Share your story &nbsp;
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

<!-- PILLS -->
<div class="container my-4 filter-pills" id="filter-pills">
</div>

@*<span class="" id="storyCount"> @totalRecords </span>*@

<!-- STORIES -->

<div class="storyPartial">
</div>

<div class="container NoStoryFound text-center mt-5">
    <h3>No Story Found</h3>
</div>

<center>
    <div class="container">
        <nav aria-label="Page navigation example" class="pagination justify-content-center">
            <ul class="pagination" id="pagination-container">
            </ul>
        </nav>
    </div>
</center>
