@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    font-family: 'NotoSans' !important;
}

* {
    margin: 0%;
    padding: 0%;
    background: transparent url('img/Layer 0.png') 0% 0% no-repeat padding-box;
}

div {
    font-family: 'Noto Sans' !important;
}

.nav-link {
    color: #212529 !important;
}

.img-filter {
    display: none;
}

#filter-pills {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    color: #757575;
}

    #filter-pills img {
        height: 10px;
        padding-bottom: 2px;
    }

.border-none {
    border: none !important;
    border-radius: 0px !important;
}

.form-check-input:checked {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
    margin-bottom: 28px;
}

.btn-apply {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

.btn-share {
    color: #757575;
    font-size: 17px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

.box-card {
    border: 1px solid #E8E8E8;
    width: 150px;
    height: 130px;
    margin-top: 5px;
}

.copyright {
    text-align: end;
}

/* TAB */
.tabs .nav-tabs .nav-link.active {
    color: #414141;
    background-color: #fff;
    border-color: #fff #fff #414141;
    border-width: 3px;
    font-weight: 600;
}

.tabs .nav-link {
    color: #757575;
}

.comment-box {
    background-color: #e9ecef;
}

.vol-img {
    height: 70px;
    width: 70px;
}

#grid-view {
    display: block;
}

#list-view {
    display: none;
}

@media (max-width: 1024.98px) {
    #grid-view {
        display: block !important;
    }

    #list-view {
        display: none !important;
    }

    #grid-btn {
        display: none;
    }

    #list-btn {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .copyright, .links {
        text-align: center;
    }

    .text {
        text-align: center;
    }
}

@media (max-width: 425.98px) {
    .comment-box .vol-img {
        margin-top: 15px;
    }

    .comment-box .card-body h5 {
        text-align: center;
    }
}

@media (max-width: 374.98px) {
    .seats-left {
        flex-direction: column;
        align-items: center;
    }

        .seats-left .d-flex {
            padding-bottom: 10px;
        }

        .seats-left .col {
            text-align: center !important;
            padding-bottom: 10px;
        }
}

@media (max-width:767.98px) {
    #profileText {
        display: none !important;
    }

    .img-filter {
        display: block;
    }

    .filter-options {
        display: none;
    }

    .sort {
        display: none;
    }

    .view {
        display: none !important;
    }

    .btns {
        justify-content: center;
        text-align: center;
    }
}
