@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    font-family: 'NotoSans' !important;
}

* {
    margin: 0%;
    padding: 0%;
    background: transparent 0% 0% no-repeat padding-box;
}

div {
    font-family: 'Noto Sans' !important;
}


.notificationIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nav-link {
    color: #212529 !important;
}

.required-field::before {
    content: "*";
    color: rgb(221 51 51);
}

.capsule-details {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    border-radius: 25px;
    opacity: 1;
    color: #757575;
    opacity: 1;
    padding: 0.5rem 2rem;
    margin: 2rem 1rem;
}

.img-filter {
    display: none;
}

#filter-pills {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.pill {
    border: 1px solid black;
    border-radius: 40%;
    padding: 2px 5px;
    margin-right: 7px;
}

.border-none {
    border: none !important;
    border-radius: 0px !important;
}

.scroll-menu {
    height: auto;
    max-height: 30vh;
    overflow-y: scroll;
    width: fit-content;
}

.scroll-menu-notification {
    height: 45vh;
    max-height: 45vh;
    overflow-y: scroll;
    width: fit-content;
}

.dropdown-item {
    width: auto !important;
}

.form-check-input:checked {
    background-color: #ff6a00 !important;
    border-color: #ff6a00 !important;
}

.btn-apply {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .btn-apply:hover {
        background: #F88634;
        color: white;
    }

.btn-share {
    font-size: 17px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

.pagination li {
    margin: 10px 5px;
}

    .pagination li a {
        padding: 5px 11px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        color: #414141;
        border: 1px solid #d0d0d0;
        /*padding-bottom: 8px;*/
    }

.pagination .active a {
    color: #fff;
    background-color: #F88634 !important;
    border-color: #F88634 !important;
}

.box-card {
    border: 1px solid #E8E8E8;
    width: 150px;
    height: 130px;
    margin-top: 5px;
}

.copyright {
    text-align: end;
}

/* TAB */
.tabs .nav-tabs .nav-link.active {
    color: #414141;
    background-color: #fff;
    border-color: #fff #fff #414141;
    border-width: 3px;
    font-weight: 600;
}

.tabs .nav-link {
    color: #757575;
}

.comment-box {
    background-color: #e9ecef;
}

.vol-img {
    height: 70px;
    width: 70px;
}

@media (max-width: 1024.98px) {
    #grid-view {
        display: block !important;
    }

    #list-view {
        display: none !important;
    }

    #grid-btn {
        display: none;
    }

    #list-btn {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .copyright, .links {
        text-align: center;
    }

    .text {
        text-align: center;
    }
}

@media (max-width: 425.98px) {
    .comment-box .vol-img {
        margin-top: 15px;
    }

    .skills-box {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .comment-box .card-body h5 {
        text-align: center;
    }

    .dropdown-position {
        position: absolute;
        left: -149px !important;
        width: 300px !important;
    }
}

@media (max-width: 374.98px) {
    .seats-left {
        flex-direction: column;
        align-items: center;
    }

        .seats-left .d-flex {
            padding-bottom: 10px;
        }

        .seats-left .col {
            text-align: center !important;
            padding-bottom: 10px;
        }
}

@media (max-width:767.98px) {
    #profileText {
        display: none !important;
    }

    .companyLogo {
        display: none !important;
    }

    .img-filter {
        display: block;
    }

    .filter-options {
        display: none;
    }

    .sort {
        display: none;
    }

    .view {
        display: none !important;
    }

    .btns {
        justify-content: center;
        text-align: center;
    }
}
