@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    font-family: 'NotoSans' !important;
}

/*.swal-height {
    height: 23vh;
}*/


.img-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 35%;
    filter: brightness(0.4)
}

.btn-share-story {
    border-color: #fff;
    color: #fff;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #fff;
    letter-spacing: 0px;
    opacity: 1;
}

    .btn-share-story:hover {
        color: black;
        background-color: #fff;
        border: 2px solid #fff;
    }

.card-img a {
    display: none;
}

.card-img:hover img {
    filter: brightness(50%);
}

.card-img:hover a {
    display: block;
}

.pagination li {
    margin: 10px 5px;
}

    .pagination li a {
        padding: 5px 11px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        color: #414141;
        border: 1px solid #d0d0d0;
        /*padding-bottom: 8px;*/
    }

.pagination .active a {
    color: #fff;
    background-color: #F88634 !important;
    border-color: #F88634 !important;
}

.btn-cancel {
    border-color: #757575;
    color: #757575;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

    .btn-cancel:hover {
        color: #fff;
        border-color: #757575;
        background-color: #757575;
    }

.btn-cancel-margin {
    margin-right: auto;
}

.btn-save {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .btn-save:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }


.drag-drop {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border: 1px dashed #757575;
    padding: 30px 0;
    background-color: #fff;
    cursor: pointer;
}


#image-list {
    flex-wrap: wrap;
}

    #image-list .image-item img {
        width: 4em;
        height: 4em;
    }

    #image-list .image-item {
        position: relative;
        margin: 2px 10px 15px 0;
    }

        #image-list .image-item .close-icon {
            cursor: pointer;
            position: absolute;
            right: 6px;
            top: 0px;
        }

.recommend-btn {
    border-color: #757575;
    color: #757575;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

    .recommend-btn:hover {
        color: #fff;
        border-color: #757575;
        background-color: #757575;
    }

.mission-btn {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .mission-btn:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }

.tabs .nav-tabs .nav-link.active {
    color: #414141;
    background-color: #fff;
    border-color: #fff #fff #414141;
    border-width: 3px;
    font-weight: 600;
}

.tabs .nav-link {
    color: #757575;
}

@media (max-width: 425.98px) {

    .recommend-btn,
    .mission-btn {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}

@media (max-width: 374.98px) {
    .user-img {
        text-align: center;
    }

    .user-data {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

        .user-data .rounded-pill {
            margin-top: 20px;
        }

    @media (max-width: 767.98px) {
        .img-header .text {
            display: none;
        }
    }

    @media (max-width: 424.98px) {
        .btns {
            flex-direction: column-reverse;
            text-align: center;
        }

        .btn-cancel-margin {
            margin-right: 0px;
            margin-top: 20px;
        }

        .btns1 {
            flex-direction: column;
            text-align: center;
        }
    }
