@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    font-family: 'NotoSans' !important;
}

* {
    margin: 0%;
    padding: 0%;
    background: transparent 0% 0% no-repeat padding-box;
}

div {
    font-family: 'Noto Sans' !important;
}

.user-image-wrapper {
    position: relative;
}

.edit-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.user-image-wrapper:hover .edit-icon {
    display: block;
}

.user-image-wrapper:hover img {
    filter: brightness(0.5);
}

.tabs .nav-tabs .nav-link.active {
    color: #414141;
    background-color: #fff;
    border-color: #fff #fff #414141;
    border-width: 3px;
    font-weight: 600;
}

.tabs .nav-link {
    color: #757575;
}

.required-field label:after {
    color: red;
    content: ' *';
}

.add-skills-btn {
    border-color: #757575;
    color: #757575;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

    .add-skills-btn:hover {
        color: #fff;
        border-color: #757575;
        background-color: #757575;
    }

.save-btn {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .save-btn:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.cancel-btn {
    border-color: #757575;
    color: #757575;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    letter-spacing: 0px;
    opacity: 1;
}

    .cancel-btn:hover {
        color: #fff;
        border-color: #757575;
        background-color: #757575;
    }

.submit-btn {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .submit-btn:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }


/*TIMESHEET*/

.add-btn {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .add-btn:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }

th,
td {
    white-space: nowrap;
}

.volCard {
    max-height: 500px;
    max-width: 750px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


.submit-btn {
    border-color: #F88634;
    color: #F88634;
    font-weight: 500;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .submit-btn:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }

.viewTimesheet {
    border-color: #F88634;
    color: #F88634;
    font-size: 14px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 1px solid #F88634;
    letter-spacing: 0px;
    opacity: 1;
}

    .viewTimesheet:hover {
        color: #fff;
        border-color: #F88634;
        background-color: #F88634;
    }


/*SCROLLBAR OF TABLES*/
/* Style the scrollbar for the table-responsive element in X-direction */
.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#timeTable_info, #goalTable_info {
    display: none;
}


/*PRIVACY POLICY */
.policyNavigation div button {
    border: none;
    background: none;
}

.policyNavigation div {
    border-bottom: solid 0.8px #D9D9D9;
}

    .policyNavigation div span {
        font-weight: 300;
    }

.policyNavigation .Pactive {
    font-weight: 500 !important;
}

.Ppreferences {
    border: none !important;
}

#Pintro, #PUseCookies {
    border-bottom: solid 0.8px #D9D9D9;
}

.Pcontainer li {
    list-style: disc;
}