

<div class="my-3">
    <div class=" my-4">
        <div class="row d-flex mt-5">
            <div class="col-lg-6">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/0bd79_c19cc_678a5_CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/12459_47663_bcd96_3b979_42a91_45a31_275d1_CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/670b4_Animal-welfare-&-save-birds-campaign.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/7b958_e7046_4cc90_60f90_6ba1b_08802_50c45_animal-welfare-2.jpg" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/cleanCommunity3.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/0bd79_c19cc_678a5_CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/12459_47663_bcd96_3b979_42a91_45a31_275d1_CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/670b4_Animal-welfare-&-save-birds-campaign.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/7b958_e7046_4cc90_60f90_6ba1b_08802_50c45_animal-welfare-2.jpg" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Upload/StoryPhotos/cleanCommunity3.png" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h3>Story Title</h3>

                <p>
                    In this updated code, the size attribute is set to the count of the Model.skillList, which determines the number of visible options in the select element. By setting it to the count of the skillList, all options will be visible by default when the page loads. The multiple attribute allows for selecting multiple options, and the class attribute assigns a CSS class to the select element.

                    Note that having a large number of options visible at once may not provide the best user experience, as it can be overwhelming and difficult to navigate. Consider using alternative UI components, such as autocomplete or typeahead, if you have a large number of options to choose from.The code you provided appears to be a snippet of a Razor view in an ASP.NET Core application. It creates a select element with the asp-for attribute bound to a property called newMission.missionSkills and populates the options using a foreach loop iterating over a list of skills from Model.skillList. The multiple attribute allows for selecting multiple options, and the class attribute assigns a CSS class to the select element.

                    To display all options at once in the select element, you can remove the multiple attribute from the select tag. Here's an updated version of the code:
                </p>
            </div>
        </div>
    </div>
</div>

<!-- SLIDER SCRIPT -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>