

<div class="container mt-5 border border-secondary p-4">

    <div class="row">
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/Animal-welfare-&-save-birds-campaign-1.png" class="card-img-top"
                             alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Nourish-the-Children-in--African-country-1.png" class="card-img-top"
                             alt="" style="height: 100%; width: 100%;">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/Animal-welfare-&-save-birds-campaign-1.png" class="card-img-top"
                             alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                             class="card-img-top" alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Nourish-the-Children-in--African-country-1.png" class="card-img-top"
                             alt="" style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>
                Story Title
            </h3>
            <p>
                In this updated code, the size attribute is set to the count of the Model.skillList, which
                determines
                the number of visible options in the select element. By setting it to the count of the skillList,
                all
                options will be visible by default when the page loads. The multiple attribute allows for selecting
                multiple options, and the class attribute assigns a CSS class to the select element.
            </p>
            <p>
                Note that having a large number of options visible at once may not provide the best user experience,
                as
                it can be overwhelming and difficult to navigate. Consider using alternative UI components, such as
                autocomplete or typeahead, if you have a large number of options to choose from.The code you
                provided
                appears to be a snippet of a Razor view in an ASP.NET Core application. It creates a select element
                with
                the asp-for attribute bound to a property called newMission.missionSkills and populates the options
                using a foreach loop iterating over a list of skills from Model.skillList. The multiple attribute
                allows
                for selecting multiple options, and the class attribute assigns a CSS class to the select element.
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-evenly mt-5 storyButtons">

        <button type="button" class="btn btn-outline-success storyButtons" data-value="1">
            <i class="bi bi-check-circle me-2"></i>Approve
        </button>
        <button type="button" class="btn btn-outline-danger storyButtons" data-value="0"><i class="bi bi-x-circle me-2"></i>Decline</button>

        <button type="button" class="btn btn-outline-dark"><i class="bi bi-trash3 me-2"></i>Delete</button>

    </div>
</div>

<!-- SLIDER SCRIPT -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>