@using CiPlatformWeb.Entities.DataModels;
@using CiPlatformWeb.Entities.ViewModels;
@{
    ViewData["Title"] = "Comments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model CiPlatformWeb.Entities.ViewModels.AdminCommentViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">

<div class="container-fluid px-4">
    <div class="tabs d-flex flex-column" style="font-size: 15px;">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active disabled"
                   style="font-size: 22px;">Comments</a>
            </li>
        </ul>
    </div>

    <div class="my-3">

        <div class="my-4">
            <div class="options d-flex justify-content-between">
                <div class="">
                    <div class="input-group mb-3" style="width: 100%;">
                        <span class="input-group-text bg-white border-none" id="searchIcon">
                            <img src="~/images/search.png" />
                        </span>
                        <input type="text" class="form-control border-none" placeholder="Search" id="searchComment" aria-label="Search" style="border-left: none;" />
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="commentTable" style="border: 1px solid #D9D9D9;">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">User</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AdminCommentModel comment in Model.comments)
                    {
                        <tr id="@comment.commentId">
                            <td scope="row">@comment.mission</td>
                            <td>@comment.user</td>
                            <td>@comment.comment</td>
                            <td class="showCommentButtons-@comment.commentId">
                                @if (comment.status == "PUBLISHED")
                                {
                                    <i class="bi bi-check-circle-fill" data-value="1" style="color: #14C506;"></i>
                                    <i class="bi bi-x-circle ms-2 changeCommentStatus" data-value="0" style="color: #f20707;"></i>
                                }
                                else if (comment.status == "DECLINED")
                                {
                                    <i class="bi bi-check-circle changeCommentStatus" data-value="1" style="color: #14C506;"></i>
                                    <i class="bi bi-x-circle-fill ms-2" data-value="0" style="color: #f20707;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle changeCommentStatus" data-value="1" style="color: #14C506;"></i>
                                    <i class="bi bi-x-circle ms-2 changeCommentStatus" data-value="0" style="color: #f20707;"></i>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}