@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

<partial name="_LayoutFilter" />

<!-- HEADING -->
<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h3>Explore 72 missions</h3>
        </div>
        <div class="col-2 sort">
            <div class="dropdown">
                <div class="p-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false" style="border:1px solid black">
                    Sort By
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                    <li><a class="dropdown-item" href="#">Oldest</a></li>
                    <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                    <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                    <li><a class="dropdown-item" href="#">Sort by my favourite</a></li>
                    <li><a class="dropdown-item" href="#">Sort by deadline</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1 d-flex">
            <a asp-controller="Mission" asp-action="Index">
                <img src="~/images/grid.png" alt="gridlogo" class="temp">
            </a>
            <a asp-controller="Mission" asp-action="ListView">
                <img src="~/images/list.png" alt="listlogo" class="temp">
            </a>
        </div>
    </div>
</div>

<!-- CARDS -->
<div class="container my-4">

    <!-- PSD -->
    <div class="card mb-5 border-light shadow-sm">
        <div class="row g-0">
            <div class="col-md-4 position-relative">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                     class="img-fluid rounded-start" alt="">
                <!-- <button
                    class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Toronto
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/heart.png" alt="" class="img-fluid">
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src=" ~/images/user.png" alt="" class="img-fluid">
                    </a>
                </button> -->
                <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                    Environment
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title pt-2">Grow Trees - On the path to environment sustainability</h4>
                    <p class="card-text pt-2">
                        This is a wider card with supporting text below as a natural lead-in
                        to
                        additional content.
                    </p>

                    <div class="row gy-3 py-2">
                        <div class="col d-flex">
                            <h6>Tree Canada</h6>
                            <div class="star ms-4">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="row d-flex g-0 items-align-center">
                                <div class="col-2">
                                    <hr>
                                </div>
                                <div class="col-8 text-center border border-secondary rounded-pill">
                                    <span style="font-size: 15px;">From 10/01/2019 until 25/02/2019</span>
                                </div>
                                <div class="col-2">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-3 pt-2 d-flex align-items-center">
                        <div class="col-lg-6">
                            <button class="btn-apply rounded-pill px-4 py-2">
                                Apply
                                <img src="~/images/right-arrow.png" alt="" class="ms-3">
                            </button>
                        </div>
                        <div class="col-3 d-flex">
                            <span class="mt-1">
                                <img src="~/images/Seats-left.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>10</h6>
                                </div>
                                <p class="mt-0 mb-0">Seats left</p>
                            </div>
                        </div>
                        <div class="col-3 d-flex">
                            <span class="mt-1">
                                <img src="~/images/deadline.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>09/01/2019</h6>
                                </div>
                                <p class="mt-0 mb-0">Deadline</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PSD -->
    <div class="card mb-5 border-light shadow-sm">
        <div class="row g-0">
            <div class="col-md-4 position-relative">
                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                     class="img-fluid rounded-start" alt="">
                <!-- <button
                    class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Melbourne
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/heart.png" alt="" class="img-fluid">
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src=" ~/images/user.png" alt="" class="img-fluid">
                    </a>
                </button> -->
                <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                    Children
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title pt-2">Education Supplies for Every Pair of Sold Shoes</h4>
                    <p class="card-text pt-2">
                        This is a wider card with supporting text below as a natural lead-in
                        to
                        additional content.
                    </p>

                    <div class="row gy-3 py-2">
                        <div class="col d-flex">
                            <h6>Australian Paradise</h6>
                            <div class="star ms-4">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/selected-star.png" alt="">
                                <img src="~/images/star.png" alt="">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="row d-flex g-0 items-align-center">
                                <div class="col-2">
                                    <hr>
                                </div>
                                <div class="col-8 text-center border border-secondary rounded-pill">
                                    <span style="font-size: 15px;">From 10/01/2019 until 25/02/2019</span>
                                </div>
                                <div class="col-2">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gy-3 pt-2 d-flex align-items-center">
                        <div class="col-lg-6">
                            <button class="btn-apply rounded-pill px-4 py-2">
                                Apply
                                <img src="~/images/right-arrow.png" alt="" class="ms-3">
                            </button>
                        </div>
                        <div class="col-3 d-flex">
                            <span class="mt-1">
                                <img src="~/images/Seats-left.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>10</h6>
                                </div>
                                <p class="mt-0 mb-0">Seats left</p>
                            </div>
                        </div>
                        <div class="col-3 d-flex">
                            <span class="mt-1">
                                <img src="~/images/deadline.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>09/01/2019</h6>
                                </div>
                                <p class="mt-0 mb-0">Deadline</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SRS -->
    <div class="card mb-5 border-light shadow-sm">
        <div class="row g-0">
            <div class="col-md-4 position-relative">
                <img src="~/images/Plantation-and-Afforestation-programme.png"
                     class="img-fluid rounded-start" alt="">
                <!-- <button
                    class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Atlanta
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src="~/images/heart.png" alt="" class="img-fluid">
                    </a>
                </button>
                <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                    <a href="" class="text-decoration-none text-white">
                        <img src=" ~/images/user.png" alt="" class="img-fluid">
                    </a>
                </button> -->
                <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                    Environment
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <div class="row gy-2 d-flex">
                        <div class="col-6 col-lg-2">
                            <img src="~/images/pin1.png" alt=""> Atlanta
                        </div>
                        <div class="col-6 col-lg-3">
                            <img src="~/images/web.png" alt=""> Environment
                        </div>
                        <div class="col-lg-4">
                            <img src="~/images/organization.png" alt=""> Smith International Caring
                            Foundation
                        </div>
                        <div class="col-lg-3 text-end">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>

                    <h4 class="card-title pt-3">Planting and afforestation activities</h4>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in
                        to
                        additional content.
                    </p>

                    <div class="row gy-3 d-flex pt-3">
                        <div class="col d-flex">
                            <span class="mt-1">
                                <img src="~/images/Seats-left.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>397</h6>
                                </div>
                                <p class="mt-0 mb-0">Seats left</p>
                            </div>

                        </div>
                        <div class="col d-flex">
                            <span class="mt-1">
                                <img src="~/images/mission.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>10</h6>
                                </div>
                                <p class="mt-0 mb-0">Achieved</p>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <span class="mt-1">
                                <img src="~/images/calender.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>From 01/09/2019</h6>
                                </div>
                                <p class="mt-0 mb-0">Until 01/12/2020</p>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <span class="mt-1">
                                <img src="~/images/info.png" alt="">
                            </span>
                            <div class="ms-1">
                                <div class="d-flex">
                                    <h6>Skills</h6>
                                </div>
                                <p class="mt-0 mb-0">Botany</p>
                            </div>
                        </div>
                        <div class="col-xxl">
                            <button class="btn-apply rounded-pill px-4 py-2">
                                Apply
                                <img src="~/images/right-arrow.png" alt="" class="ms-3">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>