@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@{
    var TotalRecords = ViewBag.totalRecords;
}

<partial name="FilterBarPartial" />

<!-- PILLS -->
<div class="container my-4 filter-pills" id="filter-pills">
</div>

<!-- HEADING -->
<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h3 id="exploreText"></h3>
        </div>
        <div class="col-2 sort">
            <div class="dropdown">
                <div class="p-2 dropdown-toggle" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false" style="border:1px solid black">
                    <span>Sort By</span>
                </div>
                <ul class="dropdown-menu" id="sortList">
                    <li value="1"><a class="dropdown-item">Newest</a></li>
                    <li value="2"><a class="dropdown-item">Oldest</a></li>
                    <li value="3"><a class="dropdown-item">Lowest available seats</a></li>
                    <li value="4"><a class="dropdown-item">Highest available seats</a></li>
                    <li value="5"><a class="dropdown-item">Sort by deadline</a></li>
                    <li value="6"><a class="dropdown-item">Sort by my favourite</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1 d-flex">
            <button class="btn border-none rounded-circle view-btn grid" type="submit" id="grid-btn" onclick="show_grid()" style="outline:none;">
                <i class="bi bi-grid" style='font-size:30px;'></i>
            </button>
            <button class="btn border-none rounded-circle ms-2 view-btn list" type="submit" id="list-btn" onclick="show_list()">
                <i class="bi bi-list" style='font-size:33px;'></i>
            </button>

        </div>
    </div>
</div>

<div class="partialViews"></div>

<div class="container NoMissionFound text-center mt-5">
    <h3>No Mission Found</h3>
</div>

<center>
    <div class="container">
        <nav aria-label="Page navigation example" class="pagination justify-content-center">
            <ul class="pagination" id="pagination-container">
            </ul>
        </nav>
    </div>
</center>


<script>
    function show_grid() {
        document.getElementById("grid-view").style.display = "block";
        document.getElementById("list-view").style.display = "none";
        localStorage.setItem('view', 1);

        document.getElementById('grid-btn').style.backgroundColor = 'gainsboro';
        document.getElementById('grid-btn').style.borderRadius = '50% !important';
        document.getElementById('list-btn').style.backgroundColor = 'transparent';

    }

    function show_list() {
        document.getElementById("list-view").style.display = "block";
        document.getElementById("grid-view").style.display = "none";
        localStorage.setItem('view', 0);

        document.getElementById('list-btn').style.borderRadius = '50%';
        document.getElementById('list-btn').style.backgroundColor = 'gainsboro';
        document.getElementById('grid-btn').style.backgroundColor = 'transparent';

    }
</script>
