@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

<partial name="FilterBarPartial" />

<!-- PILLS -->
<div class="container my-4 filter-pills" id="filter-pills">
    @*<div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Tree Plantation</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Canada</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Toronto</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Montreal</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Environment</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Nutrition</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Anthrapology</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="rounded-pill alert border-dark px-2 py-0 m-2">
        <span>Environental Science</span> &nbsp;
        <button type="button" class="border-none" data-bs-dismiss="alert" aria-label="Close">
            <img src="~/images/cancel.png" alt="">
        </button>
    </div>
    <div class="alert px-2 py-0 m-2">
        <button type="submit" class="border-none" onclick="removeFilters()">Clear All</button>
    </div>*@
</div>

<!-- HEADING -->
<div class="container my-4">
    <div class="row">
        <div class="col-9">
            <h3>Explore 72 missions</h3>
        </div>
        <div class="col-2 sort">
            <div class="dropdown">
                <div class="p-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false" style="border:1px solid black">
                    <span>Sort By</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                    <li><a class="dropdown-item" href="#">Oldest</a></li>
                    <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                    <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                    <li><a class="dropdown-item" href="#">Sort by my favourite</a></li>
                    <li><a class="dropdown-item" href="#">Sort by deadline</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1 d-flex">
            <button class="btn border-none view-btn" type="submit" id="grid-btn" onclick="show_grid()">
                <img src="images/grid.png" alt="">
            </button>
            <button class="btn border-none ms-2 view-btn" type="submit" id="list-btn" onclick="show_list()">
                <img src="images/list.png" alt="">
            </button>
        </div>
    </div>
</div>

<!-- GRID OR LIST -->
<!-- GRID PARTIAL -->
<div id="grid-view">
    <partial name="GridViewPartial" />
</div>

<!-- LIST PARTIAL -->
<div id="list-view">
    <partial name="ListViewPartial" />
</div>


<script>
    function show_grid() {
        document.getElementById("grid-view").style.display = "block";
        document.getElementById("list-view").style.display = "none";
    }

    function show_list() {
        document.getElementById("list-view").style.display = "block";
        document.getElementById("grid-view").style.display = "none";
    }

    //function removeFilters() {
    //    document.getElementById("filter-pills").style.display = "none";
    //}
</script>
