@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<partial name="FilterBarPartial" />

<!-- CONTENT -->
<div class="container">
    <!-- SLIDE AND DATA -->
    <div class="row d-flex">

        <!-- SLIDER -->
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img1.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/img11.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/images/image1.png" />
                    </div>

                </div>

            </div>
        </div>

        <!-- DATA -->
        <div class="col-lg-6">
            <!-- HEADING -->
            <div class="text" style="color: #414141;">
                <h2 class="mt-4">CSR initiative stands for Coffee & Farmer Equity</h2>
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>

            <!-- PILL -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill">
                    <span style="font-size: 15px; color: #414141;">Plant 10,000 Trees</span>
                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- SEATS LEFT -->
            <div class="d-flex seats-left justify-content-around mt-4" style="color: #757575;">
                <div class="d-flex align-items-center">
                    <img src="~/images/Seats-left.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px">
                    <div class="d-flex flex-column">
                        <span>10</span>
                        <span>Seats Left</span>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <img src="~/images/mission.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px">
                    <div class="d-flex flex-column">
                        <div class="progress" style="width: 150px; height: 12px;">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 80%; background-color: #F88634;" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <span>8000 Achieved</span>
                    </div>
                </div>
            </div>

            <hr>
            <!-- BUTTONS -->
            <div class="row gy-4 d-flex">
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100">
                        <img src=" ~/images/heart1.png" alt="">
                        Add to Favourite
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100">
                        <img src="~/images/add1.png" alt="">
                        Recommend to a Co-Worker
                    </button>
                </div>
            </div>

            <!-- STARS -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill">
                    <img src="~/images/star-empty.png" alt="" style="height: 24px;">
                    <img src="~/images/star-empty.png" alt="" style="height: 24px;">
                    <img src="~/images/star-empty.png" alt="" style="height: 24px;">
                    <img src="~/images/star-empty.png" alt="" style="height: 24px;">
                    <img src="~/images/star-empty.png" alt="" style="height: 24px;">
                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- 4 BOXES -->
            <div class="row mt-4 gy-3 gx-0" style="color: #757575;">
                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/pin1.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>City</span>
                            <p><strong>London</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/web.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Theme</span>
                            <p><strong>Environment</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/calender.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Date</span>
                            <p><strong>Ongoing Opportunity</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/organization.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Organization</span>
                            <p><strong>CSE Network </strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- APPLY BTN -->
            <div class="text-center mt-4">
                <button class="btn-apply rounded-pill px-4 py-2">
                    Apply Now
                    <img src="~/images/right-arrow.png" alt="" class="ms-3">
                </button>
            </div>

        </div>
    </div>

    <!-- TAB AND BOXES -->
    <div class="row gy-4 mt-5 mb-5 d-flex mb-5">
        <!-- TABS -->
        <div class="tabs col-lg-7">
            <!-- TAB LINK -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission"
                            type="button" role="tab" aria-controls="mission" aria-selected="true">
                        Mission
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="organization-tab" data-bs-toggle="tab"
                            data-bs-target="#organization" type="button" role="tab" aria-controls="organization"
                            aria-selected="false">
                        Organization
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments"
                            type="button" role="tab" aria-controls="comments" aria-selected="false">
                        Comments
                    </button>
                </li>
            </ul>

            <!-- TAB CONTENT -->
            <div class="tab-content" id="myTabContent" style="color: #414141">
                <!-- MISSION -->
                <div class="tab-pane fade show active mt-4" id="mission" role="tabpanel"
                     aria-labelledby="mission-tab">
                    <h4 class="mb-3">Introduction</h4>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p style="font: 15px;">
                        Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h4 class="mb-3 mt-4">Challenge</h4>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h4 class="mb-3 mt-4">Documents</h4>
                    <div class="row gy-3">
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/pdf.png" alt="">
                                lorem-ipsum.pdf
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/doc.png" alt="">
                                at_vero_eos.doc
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/xlsx.png" alt="">
                                important_doc.xls
                            </button>
                        </div>
                    </div>
                </div>

                <!-- ORGANIZATION -->
                <div class="tab-pane fade mt-4" id="organization" role="tabpanel"
                     aria-labelledby="organization-tab">
                    <h4 class="mb-3">About Organization</h4>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p style="font: 15px;">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

                <!-- COMMENTS -->
                <div class="tab-pane fade mt-4" id="comments" role="tabpanel" aria-labelledby="comments-tab">

                    <form action="">
                        <div class="mb-3">
                            <textarea name="" id="" class="form-control" placeholder="Enter your comments..."
                                      rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn-apply rounded-pill px-4 py-2">
                            Post Comment
                        </button>
                    </form>

                    <div class="comment-box mt-4">
                        <div class="p-4">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        <img src="~/images/volunteer1.png" alt=""
                                             class="rounded-circle vol-img">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5>Margaret Walsh</h5>
                                            <p>
                                                Monday, October 21, 2019, 4:57 PM
                                            </p>
                                            <p>Nice mission great opportunity for people</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        <img src="~/images/volunteer2.png" alt=""
                                             class="rounded-circle vol-img">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5>Margaret Walsh</h5>
                                            <p>
                                                Monday, October 21, 2019, 4:57 PM
                                            </p>
                                            <p>Nice mission great opportunity for people</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        <img src="~/images/volunteer2.png" alt=""
                                             class="rounded-circle vol-img">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5>Margaret Walsh</h5>
                                            <p>
                                                Monday, October 21, 2019, 4:57 PM
                                            </p>
                                            <p>Nice mission great opportunity for people</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                                        <img src="~/images/volunteer9.png" alt=""
                                             class="rounded-circle vol-img">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5>Margaret Walsh</h5>
                                            <p>
                                                Monday, October 21, 2019, 4:57 PM
                                            </p>
                                            <p>Nice mission great opportunity for people</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <!-- SIDE 2 BOX -->
        <div class="col-lg-4 mb-5">
            <!-- INFO BOX -->
            <div class="row border border-secondary">
                <div class="tabs d-flex flex-column" style="font-size: 15px;">
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#"
                               style="font-size: 22px;">Information</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-start mt-3">
                        <p>Skills</p>
                        <p class="ms-5">Cool, Easy going, Math, Computer</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3">
                        <p>Days</p>
                        <p class="ms-5">Weekend only</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3 mb-3">
                        <p>Rating</p>
                        <div class="ms-5">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>

            <!-- VOLUNTEER BOX -->
            <div class="row border border-secondary mt-5">
                <div class="tabs d-flex flex-column" style="font-size: 15px;">
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#"
                               style="font-size: 22px;">Recent Volunteers</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-around mt-3">
                        <div class="text-center">
                            <img src="~/images/volunteer1.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer2.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer3.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <div class="text-center">
                            <img src="~/images/volunteer4.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer5.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer6.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <div class="text-center">
                            <img src="~/images/volunteer7.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer8.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                        <div class="text-center">
                            <img src="~/images/volunteer9.png" alt="" class="rounded-circle vol-img">
                            <p>Andrew Johnson</p>
                        </div>
                    </div>
                </div>

                <hr class="mb-0">
                <div class="mt-0 row g-0">
                    <div class="col-1">
                        <button class="border-end border-secondary p-2" style="border: none;">
                            <img src="~/images/left.png" alt="">
                        </button>
                    </div>
                    <div class="col-10 mt-2 text-center">
                        1 - 9 of 25 Recent Volunteers
                    </div>
                    <div class="col-1 text-end">
                        <button class="border-start border-secondary p-2" style="border: none;">
                            <img src="~/images/right-arrow1.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- RALATED MISSION CARDS -->
    <h2 class="text-center mt-5" style="color: #414141;">Related Missions</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm border-light">
                <div class="position-relative">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         class="card-img-top" alt="...">

                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Toronto
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/heart.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/user.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                        Environment
                    </div>
                </div>

                <div class="card-body pt-4">
                    <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                    </p>

                    <div class="row d-flex seats-left">
                        <div class="col">
                            <h6>Tree Canada</h6>
                        </div>
                        <div class="col text-end">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>

                    <div class="row d-flex py-3 g-0 items-align-center">
                        <div class="col-2">
                            <hr>
                        </div>
                        <div class="col-8 text-center border border-secondary rounded-pill">
                            <span style="font-size: 15px;">From 10/01/2019 until 25/02/2019</span>
                        </div>
                        <div class="col-2">
                            <hr>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around mt-1 seats-left">
                        <div class="d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>10</span>
                                <span>Seats Left</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>09/01/2019</span>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <form asp-controller="Mission" asp-action="VolunteeringMission">
                            <button class="btn-apply rounded-pill px-4 py-2">
                                Apply
                                <img src="~/images/right-arrow.png" alt="" class="ms-3">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm border-light">
                <div class="position-relative">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png"
                         class="card-img-top" alt="...">

                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Melbourne
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/heart.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/user.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                        Children
                    </div>
                </div>

                <div class="card-body pt-4">
                    <h4 class="card-title">Education Supplies for Every Pair of Sold Shoes</h4>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                    </p>

                    <div class="row d-flex seats-left">
                        <div class="col">
                            <h6>Australian Paradise</h6>
                        </div>
                        <div class="col text-end">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>

                    <div class="row d-flex py-3 g-0 items-align-center">
                        <div class="col-2">
                            <hr>
                        </div>
                        <div class="col-8 text-center border border-secondary rounded-pill">
                            <span style="font-size: 15px;">From 10/01/2019 until 25/02/2019</span>
                        </div>
                        <div class="col-2">
                            <hr>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around mt-1 seats-left">
                        <div class="d-flex align-items-center">
                            <img src="~/images/Already-volunteered.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>250</span>
                                <span>Already Volunteered</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>09/01/2019</span>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <button class="btn-apply rounded-pill px-4 py-2">
                            Apply
                            <img src="~/images/right-arrow.png" alt="" class="ms-3">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm border-light">
                <div class="position-relative">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png"
                         class="card-img-top" alt="...">

                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp; Melbourne
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/heart.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill">
                        <a href="" class="text-decoration-none text-white">
                            <img src="~/images/user.png" alt="" class="img-fluid">
                        </a>
                    </button>
                    <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                        Children
                    </div>
                </div>

                <div class="card-body pt-4">
                    <h4 class="card-title">Education Supplies for Every Pair of Sold Shoes</h4>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                    </p>

                    <div class="row d-flex seats-left">
                        <div class="col">
                            <h6>Australian Paradise</h6>
                        </div>
                        <div class="col text-end">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>

                    <div class="row d-flex py-3 g-0 items-align-center">
                        <div class="col-2">
                            <hr>
                        </div>
                        <div class="col-8 text-center border border-secondary rounded-pill">
                            <span style="font-size: 15px;">From 10/01/2019 until 25/02/2019</span>
                        </div>
                        <div class="col-2">
                            <hr>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around mt-1 seats-left">
                        <div class="d-flex align-items-center">
                            <img src="~/images/Already-volunteered.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>250</span>
                                <span>Already Volunteered</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                            <div class="d-flex flex-column">
                                <span>09/01/2019</span>
                                <span>Deadline</span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <button class="btn-apply rounded-pill px-4 py-2">
                            Apply
                            <img src="~/images/right-arrow.png" alt="" class="ms-3">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- SLIDER SCRIPT -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>